**/.git
**/.nyc_output
**/.DS_Store
**/*.log
**/*.md
**/node_modules
**/coverage
**/test
**/spec
**/docs
**/examples
**/e2e
**/dist
assets
autoload
docker-base
packages/*/assets
packages/*/autoload
packages/docker-compose-js
packages/teraslice-op-test-harness
packages/teraslice-client-js
packages/teraslice-cli
