.nyc_output
.DS_Store
*.log
node_modules
coverage
assets
test
spec
docs
examples
e2e
packages/**/dist
packages/docker-compose-js
packages/teraslice-op-test-harness
packages/teraslice-client-js
packages/teraslice-cli
