{
    "extends": "@terascope",
    "rules": {
        "@typescript-eslint/naming-convention": "off",
        "@typescript-eslint/no-duplicate-enum-values": "warn"
    },
    "ignorePatterns":["packages/teraslice", "e2e"]
}
