.DS_Store
logs
*.log
.idea
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
builds
.cache
.eslintcache
.yarn-cache
node_modules
.vscode
assets
packages/*/assets
autoload
e2e/autoload
e2e/.config
packages/**/dist
packages/**/build
packages/teraslice-cli/src/generators/*/templates
packages/xlucene-evaluator/peg/peg-engine.js

website
types/**/*.d.ts
docs
