.DS_Store
logs
*.log
.idea
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
builds
.cache
.eslintcache
.yarn-cache
node_modules
.vscode
assets
packages/*/assets
autoload
e2e/autoload
e2e/.config
packages/**/dist
packages/**/build
packages/teraslice-cli/generator-templates
packages/xlucene-evaluator/src/parser/peg-engine.ts

website
packages/*/**/*.d.ts
types/**/*.d.ts
docs
