# set the dist to bionic
dist: bionic
language: node_js
node_js:
  - '10.16'

cache:
  npm: false
  yarn: false
  directories:
    - '$TRAVIS_BUILD_DIR/.yarn-cache'
    - '$TRAVIS_BUILD_DIR/.eslintcache'

before_install: . ./scripts/travis-setup.sh
install:
    # Install the dependencies
    - yarn
    # Build setup the build
    - yarn setup

# set up build matrix
# specify jobs (stages are serial, and scripts are parallel within a stage)
jobs:
  # stop if given a reason
  fast-finish: true

  include:
    - stage: "Verify"
      name: 'Verify Build (node 10)'
      # run on any pull_request
      if: branch = master AND type IN (pull_request)
      script: yarn lint

    - stage: "Tests"
      name: 'Unit Test Suite (node 10)'
      # run only on pull-requests or cron
      if: branch = master AND type IN (pull_request, cron)
      script: yarn test --suite unit

    - script:
      name: 'ES Test Suite (elasticsearch 5) (node 10)'
      # run only on pull-requests
      if: branch = master AND type IN (pull_request)
      script: yarn test --suite elasticsearch --elasticsearch-version 5.6 --elasticsearch-api-version 5.6 --report-coverage false

    - script:
      name: 'ES Test Suite (elasticsearch 6) (node 10)'
      # run only on pull-requests and cron
      if: branch = master AND type IN (pull_request, cron)
      script: yarn test --suite elasticsearch --elasticsearch-version 6.8 --elasticsearch-api-version 6.5

    - script:
      name: 'ES Test Suite (elasticsearch 7) (node 10)'
      # run only on pull-requests
      if: branch = master AND type IN (pull_request)
      script: yarn test --suite elasticsearch --elasticsearch-version 7.2 --elasticsearch-api-version 7.0 --report-coverage false

    - script:
      name: 'End-to-End Test Suite (elasticsearch 6) (node 10)'
      # run only on pull-requests and cron
      if: branch = master AND type IN (pull_request, cron) AND fork = false
      script: yarn test --suite e2e --elasticsearch-version 6.8 --elasticsearch-api-version 6.5 --kafka-version 2.1

    - stage: "Releases"
      name: 'Publish packages, docs and expiremental docker image'
      # run a push to master
      if: tag IS blank AND branch = master AND type NOT IN (pull_request, cron)
      deploy:
          - provider: script
            skip_cleanup: true
            script: yarn ts-scripts publish npm
          - provider: script
            skip_cleanup: true
            script: yarn docs && ./scripts/publish-documentation.sh
          - provider: script
            skip_cleanup: true
            script: yarn ts-scripts publish -t dev docker

    - script:
      name: 'Create Tag Release'
      # run on tagged releases
      if: tag IS present AND type NOT IN (pull_request, cron)
      # no need to run test on tagged release
      script: true
      deploy:
        - provider: script
          skip_cleanup: true
          script: yarn ts-scripts publish -t tag npm
          on:
            all_branches: true
            tags: true
        - provider: script
          skip_cleanup: true
          script: yarn ts-scripts publish -t tag docker
          on:
            all_branches: true
            tags: true

    # Build nightly releases
    - script:
      name: 'Daily Docker Builds'
      # run on cron jobs
      if: type = cron
      script: true
      deploy:
        - provider: script
          skip_cleanup: true
          script: yarn ts-scripts publish -t daily docker
