# set the dist to bionic
dist: bionic
language: node_js
node_js:
- '10.16'

cache:
  npm: false
  yarn: false
  directories:
    - "$TRAVIS_BUILD_DIR/.yarn-cache"

before_install: . ./scripts/travis-setup.sh
install:
    # Install the dependencies
    - yarn
    # Build setup the build
    - yarn setup

# set up build matrix
# specify jobs (stages are serial, and scripts are parallel within a stage)
jobs:
  # stop if given a reason
  fast-finish: true

  include:
  - stage: Verify
    name: "Verify Build (node 10)"
    # run on any pull_request
    if: branch = master AND type = pull_request
    script: yarn lint

  - stage:
    name: "Unit Test Suite (node 10)"
    # run on pull-request, tag, cron or push to master
    if: branch = master
    script: yarn test --suite unit
    after_success:
        - bash <(curl -s https://codecov.io/bash) -cF unit
        # verify the ui packages can build
        - yarn --cwd=./packages/ui-core build
        - yarn --cwd=./packages/ui-data-access build

  - script:
    name: "ES Test Suite (elasticsearch 5) (node 10)"
    # run only on pull-requests
    if: branch = master AND type IN (pull_request) AND fork = false
    script: yarn test --suite elasticsearch --elasticsearch-version 5.6 --elasticsearch-api-version 6.5

  - script:
    name: "ES Test Suite (elasticsearch 6) (node 10)"
    # run only on pull-requests and cron
    if: branch = master AND type IN (pull_request, cron) AND fork = false
    script:
        - yarn test --suite elasticsearch --elasticsearch-version 6.8 --elasticsearch-api-version 6.5
    after_success:
        # only report coverage on elasticsearch@6
        - bash <(curl -s https://codecov.io/bash) -cF elasticsearch

  - script:
    name: "ES Test Suite (elasticsearch 7) (node 10)"
    # run only on pull-requests
    if: branch = master AND type IN (pull_request) AND fork = false
    script:
        - yarn test --suite elasticsearch --elasticsearch-version 7.2 --elasticsearch-api-version 7.0

  - script:
    name: "E2E Test Suite (elasticsearch 6) (node 10)"
    # run only on pull-requests and cron
    if: branch = master AND type IN (pull_request, cron) AND fork = false
    script: yarn test --suite e2e --elasticsearch-version 6.8 --elasticsearch-api-version 6.5 --kafka-version 2.1

  - stage: Publish
    name: "Publish packages, docs and expiremental docker image"
    # run a push to master
    if: tag IS blank AND branch = master AND type NOT IN (pull_request, cron)
    addons:
      apt:
        packages:
          - jq
    script: yarn docs
    deploy:
      - provider: script
        skip_cleanup: true
        script: ./scripts/publish-packages.sh
      - provider: script
        skip_cleanup: true
        script: ./scripts/publish-documentation.sh
      - provider: script
        script: ./scripts/docker-release.sh dev

  - stage: Release
    name: "Create Tag Release"
    if: tag IS present AND type NOT IN (pull_request, cron)
    addons:
      apt:
        packages:
          - jq
    script: yarn docs
    deploy:
      - provider: script
        script: ./scripts/docker-release.sh tag
        on:
            all_branches: true
            tags: true
      - provider: script
        script: ./scripts/publish-packages.sh
        on:
            all_branches: true
            tags: true

  # Build nightly releases
  - stage: Nightly
    name: "Nightly Builds"
    if: type = cron
    addons:
      apt:
        packages:
          - jq
    script: true
    deploy:
      - provider: script
        script: ./scripts/docker-release.sh daily
