services:
  teraslice-master:
    build:
      context: .
    scale: 1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5678/"]
      interval: 15s
      timeout: 10s
      retries: 5
    ports:
      - "5678:5678"
    environment:
      - TERAFOUNDATION_CONFIG=/app/config/docker-teraslice-master.yml
    networks:
      - cluster
    volumes:
      - teraslice-assets:/app/assets
      - ./autoload:/app/autoload:delegated
      - ./config:/app/config:delegated
  teraslice-worker:
    build:
      context: .
    healthcheck:
      test: ["CMD", "curl", "-f", "http://teraslice-master:5678/"]
      interval: 15s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    scale: 1
    stop_grace_period: 60s
    environment:
      - TERAFOUNDATION_CONFIG=/app/config/docker-teraslice-worker.yml
    networks:
      - cluster
    volumes:
      - teraslice-assets:/app/assets
      - ./autoload:/app/autoload:delegated
      - ./config:/app/config:delegated
  opensearch:
    image: opensearchproject/opensearch:2.15.0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 15s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "network.host=0.0.0.0"
      - "http.port=9200"
      - "transport.tcp.port=9300"
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
      - "xpack.ml.enabled=false"
      - "xpack.watcher.enabled=false"
      - "bootstrap.memory_lock=true"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - cluster
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
  kafka:
    image: apache/kafka:3.7.2 
    ports:
      - "9094:9094"
    restart: unless-stopped
    networks:
      - cluster
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093, EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092, EXTERNAL://localhost:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT, EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  minio:
    image: minio/minio:RELEASE.2023-09-30T07-02-29Z
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: unless-stopped
    networks:
     - cluster
    volumes:
      - minio-data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server --console-address ":9001" /data

volumes:
  teraslice-assets:
    driver: local
  opensearch-data:
    driver: local
  kafka-data:
    driver: local
  minio-data:
    driver: local


networks:
  cluster:
