.daFieldButton {
    width: 10% !important;
    min-width: 2rem !important;
}

.daFieldButton > label {
    color: rgba(0, 0, 0, 0) !important;
}

.daAddFieldGroup {
    border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.daFieldEmptyMessage {
    padding-top: 2rem 0 !important;
}
