opensearch1:
  # If false, opensearch1 will be excluded on helmfile sync
  enabled: false
  # Port that the service will resolve to on the host
  # Default is 9201
  hostPort: null
  version: 1.3.11
  esJavaOpts: -Xmx512M -Xms512M
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The number of replicas
  instances: 1
  # The absolute path to an es data directory on the host machine to use
  # NOTE: This overrides 'persistentVolumeSize'. It's also preferred to backup said directory before using
  # This path MUST be unique and cannot be the same path for other "hostVolumePath" options used within this file.
  # Example -->   hostVolumePath: /Users/local-volumes/es7
  hostVolumePath: null

opensearch2:
  # If false, opensearch2 will be excluded on helmfile sync
  enabled: true

  # Port that the service will resolve to on the host
  # Default is 9202
  hostPort: null

  ssl:
    # If true, "caCert" and "admin_dn" need to be set
    enabled: false

    # CA certificate in a single-line string format with "\\n" as line breaks
    # Use the following command to convert a rootCA PEM file to the correct format:
    # awk '{printf "%s\\\\n", $0}' <path-to-pem-file> | pbcopy
    # This is so teraslice can get the rootCA for it's client validation
    caCert: null

    # The distinguished name (DN) of the OpenSearch admin user
    # Required when SSL is enabled
    # Retrieve this using the following command:
    # openssl x509 -in <path-to-cert> -noout -subject | awk '{print substr($0,9)}'
    # Example output: 'O=mkcert development certificate, OU=local'
    admin_dn: ""
  version: 2.15.0
  esJavaOpts: -Xmx512M -Xms512M
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The number of replicas
  instances: 1
  # The absolute path to an es data directory on the host machine to use
  # NOTE: This overrides 'persistentVolumeSize'. It's also preferred to backup said directory before using
  # This path MUST be unique and cannot be the same path for other "hostVolumePath" options used within this file.
  # Example -->   hostVolumePath: /Users/local-volumes/es7
  hostVolumePath: null

opensearch3:
  # If false, opensearch3 will be excluded on helmfile sync
  enabled: false

  # Port that the service will resolve to on the host
  # Default is 9203
  hostPort: null

  ssl:
    # If true, "caCert" and "admin_dn" need to be set
    enabled: false

    # CA certificate in a single-line string format with "\\n" as line breaks
    # Use the following command to convert a rootCA PEM file to the correct format:
    # awk '{printf "%s\\\\n", $0}' <path-to-pem-file> | pbcopy
    # This is so teraslice can get the rootCA for it's client validation
    caCert: null

    # The distinguished name (DN) of the OpenSearch admin user
    # Required when SSL is enabled
    # Retrieve this using the following command:
    # openssl x509 -in <path-to-cert> -noout -subject | awk '{print substr($0,9)}'
    # Example output: 'O=mkcert development certificate, OU=local'
    admin_dn: ""
  version: 3.1.0
  esJavaOpts: -Xmx512M -Xms512M
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The number of replicas
  instances: 1
  # The absolute path to an es data directory on the host machine to use
  # NOTE: This overrides 'persistentVolumeSize'. It's also preferred to backup said directory before using
  # This path MUST be unique and cannot be the same path for other "hostVolumePath" options used within this file.
  # Example -->   hostVolumePath: /Users/local-volumes/es7
  hostVolumePath: null

elasticsearch7:
  # If false, elasticsearch7 will be excluded on helmfile sync
  enabled: false

  # Port that the service will resolve to on the host
  # Default is 9207
  hostPort: null

  # It's not recommended to deviate from es versions 7.9. The chart is tied to this specific version.
  version: 7.9.3
  # The number of replicas
  instances: 1
  esJavaOpts: -Xms512m -Xmx512m
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The absolute path to an es data directory on the host machine to use
  # NOTE: This overrides 'persistentVolumeSize'. It's also preferred to backup said directory before using
  # This path MUST be unique and cannot be the same path for other "hostVolumePath" options used within this file.
  # Example -->   hostVolumePath: /Users/local-volumes/es7
  hostVolumePath: null

minio:
  # If false, minio will be excluded on helmfile sync
  enabled: false
  version: RELEASE.2024-08-29T01-40-52Z
  instances: 1
  rootUser: minioadmin
  rootPassword: minioadmin
  memoryLimit: 256Mi
  persistentVolumeSize: 50Gi
  tls:
    enabled: false
    # Name of the k8s secret. Minio requires certs to be stored in secrets
    # https://github.com/minio/minio/tree/master/docs/tls/kubernetes
    certSecret: null
    # The file names of the certificate and key used in the secret
    publicCrtName: public.crt
    privateKeyName: private.key
    # The ca-certificate used by teraslice for minio service
    caCert: null
  # The absolute path to an es data directory on the host machine to use
  # NOTE: This overrides 'persistentVolumeSize'. It's also preferred to backup said directory before using
  # This path MUST be unique and cannot be the same path for other "hostVolumePath" options used within this file.
  # Example -->   hostVolumePath: /Users/local-volumes/es7
  hostVolumePath: null

kafka:
  # If false, kafka will be excluded on helmfile sync
  enabled: false

  # If true, "caCert" needs to be set
  ssl:
    enabled: false

    # CA certificate in a single-line string format with "\" as line breaks
    # Use the following command to convert a rootCA PEM file to the correct format:
    # awk '{printf "%s\", $0}' <path-to-pem-file> | pbcopy
    # This is so teraslice can get the rootCA for it's client validation
    caCert: null
  image: apache/kafka
  version: 3.7.2
  brokers: 1
  offsets:
    topic:
      replication:
        factor: 1
  
utility:
  # If false, utility will be excluded on helmfile sync
  enabled: false
  image:
    repository: teraslice-utility
    # Overrides the image tag whose default is the chart appVersion.
    tag: 0.0.1
  instances: 1

teraslice:
  image:
    # Only relates to yarn k8s command. Will overwrite/overide repo and tag fields and build a teraslice image.
    # Turn this off if there is a specific image you want used.
    build: true
    repository: teraslice-workspace
    # Overrides the image tag whose default is the chart appVersion.
    tag: e2e-nodev22
  stateCluster: opensearch2
  asset_storage_connection_type: elasticsearch-next
  asset_storage_connection: default
  env: {}
  extraVolumes: []
  extraVolumeMounts: []

prometheus_stack:
  # If enabled, the prom dashboard will be available on http://localhost:9090
  enabled: false
  grafana:
    # If enabled, the grafana dashboard will be available on http://localhost:8050
    enabled: true
    adminUser: admin
    adminPassword: tera
  alertmanager:
    # If enabled, the alertmanager dashboard will be available on http://localhost:9091
    enabled: false

chaos_mesh:
  # If enabled, chaos dashboard will be available on http://localhost:2333
  enabled: false