secretName: {{ .Values | get "minio.tls.certSecret" "tls-ssl-minio" }}
namespace: services-dev1
{{- if .Values | get "minio.tls.privateKey" "" }}
privateKey: {{ .Values | get "minio.tls.privateKey" "" }}
{{- end }}
{{- if .Values | get "minio.tls.publicCert" "" }}
publicCert: {{ .Values | get "minio.tls.publicCert" "" }}
{{- end }}
{{- if .Values | get "minio.tls.caCert" "" }}
rootCA: {{ .Values | get "minio.tls.caCert" "" }}
{{- end }}
