.minimalSidebar {
    width: 4rem !important;
}

.sidebarWrapper .item a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.1em;
}

.sidebarWrapper .item a .icon {
    color: #4183C4;
    font-size: 1.2em;
}

.sidebarMenuIcon {
    padding-right: 2.1rem;
}

.navbarTitle {
    display: flex !important;
    flex: 1 !important;
}

.minimalSidebarIcon {
    padding-right: 0;
}

.sidebarPluginHeader {
    padding: 0.8rem 0.5rem !important;
    margin-bottom: 0 !important;
}

.sidebarToggle {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
}

.appRoot {
    height: 100%;
    min-height: 100%;
    display: flex;
	flex-direction: row;
}

.contentMain {
    height: 100%;
    flex: 1;
}

.contentWrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    z-index: 1;
    margin: -3px 0 0 -1px !important;
    padding: 0 !important;
}

.sidebarWrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -3px !important;
    z-index: 9999;
}

.contentFooter {
    align-self: flex-end;
    width: 100%;
    flex: 1;
}
