terafoundation:
  log_level: debug
  prom_metrics_enabled: false
  prom_metrics_add_default: true
  prom_metrics_port: 3333
  prom_metrics_display_url: 'localhost'
  connectors:
    elasticsearch-next:
      default:
        node:
          - "http://elasticsearch.services-dev1:9200"
    kafka:
      default:
        brokers:
          - "cpkafka.services-dev1:9092"
    s3:
      default:
        endpoint: "http://minio.services-dev1:9000"
        accessKeyId: "minioadmin"
        secretAccessKey: "minioadmin"
        forcePathStyle: true
        sslEnabled: false
        region: "us-east-1"
teraslice:
  worker_disconnect_timeout: 60000
  node_disconnect_timeout: 60000
  slicer_timeout: 60000
  shutdown_timeout: 30000
  assets_directory: "/app/assets/"
  autoload_directory: "/app/autoload"
  cluster_manager_type: "" # set dynamically w/ scripts/src/helpers/config.ts CLUSTERING_TYPE, defaults to 'native'
  master: true
  master_hostname: "127.0.0.1"
  kubernetes_image: "" # set dynamically w/ scripts/src/helpers/config.ts NODE_VERSION: teraslice-workspace:e2e-nodev${NODE_VERSION}
  kubernetes_image_pull_secrets:
    - "docker-tera1-secret"
  kubernetes_namespace: "ts-dev1"
  kubernetes_overrides_enabled: true
  kubernetes_priority_class_name: "high-priority"
  name: "ts-dev1"
  cpu: 1
  memory: 536870912
