.dtFooterCell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.dtFooterResults {
    text-align: center;
    font-size: 1rem;
    align-self: center;
    padding-left: 1rem;
}
