version: '2.4'
services:
    teraslice-master:
        image: ts_test_teraslice
        ports:
            - '45678:45678'
        scale: 1
        restart: 'on-failure'
        stop_grace_period: 30s
        environment:
            - TERAFOUNDATION_CONFIG=/app/config/teraslice-master.json
            - NODE_OPTIONS=--max-old-space-size=256
        volumes:
            - teraslice-assets:/app/assets
            - ./autoload:/app/autoload:delegated
            - ./.config:/app/config:ro
    teraslice-worker:
        image: ts_test_teraslice
        command: [
            "./scripts/wait-for-host.sh",
            "${LOCAL_IP}:45678",
            "node",
            "service.js"
        ]
        scale: 2
        restart: 'on-failure'
        stop_grace_period: 30s
        environment:
            - TERAFOUNDATION_CONFIG=/app/config/teraslice-worker.json
            - NODE_OPTIONS=--max-old-space-size=256
        volumes:
            - teraslice-assets:/app/assets
            - ./autoload:/app/autoload:delegated
            - ./.config:/app/config:ro

volumes:
    teraslice-assets:
        driver_opts:
            type: tmpfs
            device: tmpfs
