version: '2.4'
services:
  teraslice-master:
    build:
      context: ..
    command: [
      "./scripts/wait-for-it.sh",
      "elasticsearch:49200",
      "--timeout=60",
      "--strict",
      "--",
      "node",
      "--max-old-space-size=512",
      "service.js"
    ]
    scale: 1
    stop_grace_period: 30s
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:45678/"]
      interval: 15s
      timeout: 10s
      retries: 5
    ports:
      - "45678:45678"
    environment:
      - TERAFOUNDATION_CONFIG=/app/config/teraslice-master.yaml
    networks:
      - cluster
    volumes:
      - teraslice-assets:/app/assets
      - ./autoload:/app/autoload:delegated
      - ./config:/app/config:delegated
  teraslice-worker:
    build:
      context: ..
    command: [
      "./scripts/wait-for-it.sh",
      "tersalice-master:45678",
      "--timeout=60",
      "--strict",
      "--",
      "node",
      "--max-old-space-size=512",
      "service.js"
    ]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://teraslice-master:45678/"]
      interval: 15s
      timeout: 10s
      retries: 5
    scale: 2
    stop_grace_period: 30s
    environment:
      - TERAFOUNDATION_CONFIG=/app/config/teraslice-worker.yaml
    networks:
      - cluster
    volumes:
      - teraslice-assets:/app/assets
      - ./autoload:/app/autoload:delegated
      - ./config:/app/config:delegated
  elasticsearch:
    image: blacktop/elasticsearch:6
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:49200"]
      interval: 15s
      timeout: 10s
      retries: 3
    ports:
      - "49200:49200"
      - "49300:49300"
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "network.host=0.0.0.0"
      - "http.port=49200"
      - "transport.tcp.port=49300"
      - "discovery.type=single-node"
      - "bootstrap.memory_lock=true"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    networks:
      - cluster
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
  kafka:
    image: terascope/kafka-zookeeper:v1.1.0
    ports:
      - "42181:42181"
      - "49092:49092"
    networks:
      - cluster
    environment:
      - "ADVERTISED_HOST=kafka"
      - "ADVERTISED_PORT=49092"
      - "ZOOKEEPER_PORT=42181"
    volumes:
        - kafka-data:/kafka
        - zookeeper-data:/zookeeper
volumes:
  teraslice-assets:
    driver_opts:
      type: tmpfs
      device: tmpfs
  elasticsearch-data:
    driver_opts:
      type: tmpfs
      device: tmpfs
  kafka-data:
    driver_opts:
      type: tmpfs
      device: tmpfs
  zookeeper-data:
    driver_opts:
      type: tmpfs
      device: tmpfs
networks:
  cluster:
