:root{
  --ifm-color-primary-lightest: #3BB2B5;
  --ifm-color-primary-lighter: #349EA0;
  --ifm-color-primary-light: #329799;
  --ifm-color-primary: #2D898B;
  --ifm-color-primary-dark: #297B7D;
  --ifm-color-primary-darker: #267476;
  --ifm-color-primary-darkest: #206061;
}
