terafoundation:
    environment: 'development'
    log_level: info
    connectors:
        elasticsearch:
            default:
                host:
                    - "elasticsearch:9200"
        elasticsearch-next:
            default:
                node:
                    - "http://elasticsearch:9200"
        kafka:
            default:
                brokers:
                    - "kafka:9092"

teraslice:
    assets_directory: '/app/assets'
    autoload_directory: '/app/autoload'
    workers: 4
    master: true
    master_hostname: "127.0.0.1"
    port: 5678
    name: "teracluster"
