terafoundation:
    log_level: info
    connectors:
        elasticsearch-next:
            default:
                node:
                    - "http://elasticsearch:9200"
        kafka:
            default:
                brokers:
                    - "kafka:9092"
        s3:
            default:
                endpoint: "http://minio:9000"
                accessKeyId: "minioadmin"
                secretAccessKey: "minioadmin"
                forcePathStyle: true
                sslEnabled: false
                region: "us-east-1"

teraslice:
    assets_directory: '/app/assets'
    autoload_directory: '/app/autoload'
    workers: 4
    master: true
    master_hostname: "127.0.0.1"
    port: 5678
    name: "teracluster"
