{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "script"
    },
    "env": {
        "node": true,
        "jasmine": true
    },
    "rules": {
        "no-underscore-dangle": "off",
        "indent": ["error", 4],
        "no-param-reassign": ["error", { "props": false }],
        "no-use-before-define": ["error", { "functions": false }],
        "import/no-dynamic-require": "off",
        "global-require": "off",
        "strict": ["error", "global"],
        "comma-dangle": "off",
        "prefer-promise-reject-errors": "off",
        "no-restricted-globals": ["error", "isFinite"],
        "func-names": ["error", "as-needed"],
        "semi-spacing": "error",
        "rest-spread-spacing": ["error"],
        "no-path-concat": "error",
        "no-debugger": "error",
        "handle-callback-err": ["error", "error"]
    }
}
