opensearch1:
  # If false, opensearch1 will be excluded on helmfile sync
  enabled: false
  version: 1.3.11
  esJavaOpts: -Xmx512M -Xms512M
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The number of replicas
  instances: 1
  nodePort: 30201

opensearch2:
  # If false, opensearch2 will be excluded on helmfile sync
  enabled: true
  version: 2.15.0
  esJavaOpts: -Xmx512M -Xms512M
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The number of replicas
  instances: 1
  nodePort: 30202

opensearch3:
  # If false, opensearch3 will be excluded on helmfile sync
  enabled: false
  version: 3.1.0
  esJavaOpts: -Xmx512M -Xms512M
  memoryLimit: 1Gi
  memoryRequest: 512Mi
  persistentVolumeSize: 8Gi
  # The number of replicas
  instances: 1
  nodePort: 30203


minio:
  # If false, minio will be excluded on helmfile sync
  enabled: true
  version: RELEASE.2024-08-29T01-40-52Z
  instances: 1
  rootUser: minioadmin
  rootPassword: minioadmin
  memoryLimit: 256Mi
  persistentVolumeSize: 50Gi
  # tls:   <-- Not implemented yet
  #   enabled: false
  #   certSecret: ""
  #   publicCrt: public.crt
  #   privateKey: private.key

kafka:
  # If false, kafka will be excluded on helmfile sync
  enabled: true

  # If true, "caCert" needs to be set
  ssl:
    enabled: false

    # CA certificate in a single-line string format with "\" as line breaks
    # Use the following command to convert a rootCA PEM file to the correct format:
    # awk '{printf "%s\", $0}' <path-to-pem-file> | pbcopy
    # This is so teraslice can get the rootCA for it's client validation
    caCert: null
  image: apache/kafka
  version: 3.7.2
  brokers: 1
  offsets:
    topic:
      replication:
        factor: 1

zookeeper:
  # If false, zookeeper will be excluded on helmfile sync
  enabled: false
  version: 7.7.1
  instances: 1

teraslice:
  image:
    repository: terascope/teraslice
    # Overrides the image tag whose default is the chart appVersion.
    tag: dev
  stateCluster: opensearch2
  asset_storage_connection_type: elasticsearch-next
  asset_storage_connection: default
  env: {}
  extraVolumes: []
  extraVolumeMounts: []

chaos-mesh:
  # When enabled, the choas-mesh dashboard will be available in browser
  # at http://localhost:2333
  # Documentation on how to create "experiments":
  # https://chaos-mesh.org/docs/run-a-chaos-experiment/
  enabled: false

utility:
  # If false, utility will be excluded on helmfile sync
  enabled: true
  image:
    repository: teraslice-utility
    # Overrides the image tag whose default is the chart appVersion.
    tag: 0.0.1
  instances: 1
