apiVersion: apps/v1
kind: Deployment
metadata:
  name: cpkafka
  labels:
      app.kubernetes.io/name: cpkafka
      app.kubernetes.io/component: master
spec:
  replicas: 1
  selector:
      matchLabels:
          app.kubernetes.io/name: cpkafka
          app.kubernetes.io/component: master
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cpkafka
        app.kubernetes.io/component: master
    spec:
      containers:
      - name: cpkafka
        # version must match KAFKA_IMAGE_VERSION from ts-scripts/src/helpers/config.ts, which is
        # mapped to the KAFKA_VERSION set in e2e/package.json > script > "test:k8sV2" or "test:k8sV2NoBuild"
        image: confluentinc/cp-kafka:7.1.9
        env:
          - name: KAFKA_BROKER_ID
            value: "1"
          - name: KAFKA_ZOOKEEPER_CONNECT
            value: zookeeper:2181
          - name: KAFKA_ADVERTISED_LISTENERS
            value: INTERNAL://cpkafka.services-dev1:9092,EXTERNAL://localhost:9094
          - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
            value: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
          - name: KAFKA_INTER_BROKER_LISTENER_NAME
            value: INTERNAL
          - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
            value: "1"
        ports:
        - containerPort: 9092
        - containerPort: 9094

---
kind: Service
apiVersion: v1
metadata:
  name: cpkafka
  labels:
    app.kubernetes.io/name: cpkafka
spec:
  type: NodePort
  selector:
      app.kubernetes.io/name: cpkafka
      app.kubernetes.io/component: master
  ports:
  - port: 9092
    name: cpkafka
    targetPort: 9092
    nodePort: 30092
  - port: 9094
    name: cpkafkalocal
    targetPort: 9094
    nodePort: 30094
