#
#   This config file is used in the case that "--dev" is enabled in k8s-env
#   which will mount the host machines teraslice repo to the k8s resources
#
kind: Cluster
name: k8s-env
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: kindest/node:v1.28.12@sha256:fa0e48b1e83bb8688a5724aa7eebffbd6337abd7909ad089a2700bf08c30c6ea
  extraPortMappings: []

  # Leaving this commented out instead if removing. `hostPort` is now dynamic but
  # `containerPort` is still hardcoded and is useful information to list
  # These values are dynamically set here:
  # https://github.com/terascope/teraslice/blob/c83e68c196d926c96bffb37f544c2751ffcc78d3/packages/scripts/src/helpers/kind.ts#L52-L80
  #
  # teraslice port mapping needs to be at index 0 in this array
  # - containerPort: 30678 # Map internal teraslice service to host port
  #   hostPort: 5678
  # - containerPort: 30210 # Map internal opensearch service to host port
  #   hostPort: 9210
  # - containerPort: 30092 # Map internal kafka service to host port
  #   hostPort: 9092
  # - containerPort: 30094 # Map external kafka service to host port
  #   hostPort: 9094
  # - containerPort: 30900 # Map internal minio service to host port
  #   hostPort: 9000
  # - containerPort: 30901 # Map internal minio-ui service to host port
  #   hostPort: 9001
  extraMounts:
  - hostPath: ./e2e/autoload
    containerPath: /autoload
  - hostPath: ./logs
    containerPath: /mnt/logs   
  - hostPath: ./e2e/helm/utility/data
    containerPath: /data
  ### All extra mounts that the Dockerfile.dev image needs to run teraslice
  - hostPath: ./packages
    containerPath: /packages
  - hostPath: ./scripts
    containerPath: /scripts
  - hostPath: ./types
    containerPath: /types
  - hostPath: ./package.json
    containerPath: /package.json
  - hostPath: ./pnpm-lock.yaml
    containerPath: /pnpm-lock.yaml
  - hostPath: ./pnpm-workspace.yaml
    containerPath: /pnpm-workspace.yaml
  - hostPath: ./tsconfig.json
    containerPath: /tsconfig.json
  - hostPath: ./service.js
    containerPath: /service.js
  - hostPath: ./node_modules
    containerPath: /node_modules
  ###
