apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  labels:
      app.kubernetes.io/name: zookeeper
      app.kubernetes.io/component: master
spec:
  replicas: 1
  selector:
      matchLabels:
          app.kubernetes.io/name: zookeeper
          app.kubernetes.io/component: master
  template:
    metadata:
      labels:
        app.kubernetes.io/name: zookeeper
        app.kubernetes.io/component: master
    spec:
      containers:
      - name: zookeeper
        # version must match ZOOKEEPER_VERSION from ts-scripts/src/helpers/config.ts, which is
        # mapped to the KAFKA_VERSION set in e2e/package.json > script > "test:k8sV2" or "test:k8sV2NoBuild"
        image: confluentinc/cp-zookeeper:7.1.9
        env:
          - name: ZOOKEEPER_CLIENT_PORT
            value: "2181"
          - name: ZOOKEEPER_TICK_TIME
            value: "2000"
        ports:
        - containerPort: 2181
---
kind: Service
apiVersion: v1
metadata:
  name: zookeeper
  labels:
    app.kubernetes.io/name: zookeeper
spec:
  type: NodePort
  selector:
      app.kubernetes.io/name: zookeeper
      app.kubernetes.io/component: master
  ports:
  - port: 2181
    name: zookeeper
    targetPort: 2181
    nodePort: 32181
