.daFieldButton {
    width: 3.7rem !important;
}

.daFieldButton > label {
    color: rgba(0, 0, 0, 0) !important;
}

.daFieldEmptyMessage {
    padding-top: 2rem 0 !important;
}

.daFormMessage {
    display: block !important;
}

.daFormGroupDescription {
    margin-top: 0 !important;
}

.daFormMessageCode {
    display: inline;
    font-weight: bold;
}

.daFormCheckbox {
    display: flex;
    align-items: center;
    padding-left: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.daFormCheckbox label {
    font-weight: bold !important;
}

.daActionSegment {
    justify-content: space-between;
    display: flex;
    padding: 1rem 0 1rem 1rem !important;
}

.daActionSegment > div:first-child {
    flex: 1;
}

.daBorderlessButton {
    box-shadow: none !important;
    background: transparent none !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
}

.daBorderlessButton.red {
    color: #DB2828 !important;
}

.daBorderlessButton.blue {
    color: #2185D0 !important;
}
