terafoundation:
    log_level: info
    connectors:
        elasticsearch-next:
            default:
                node:
                    - "http://elasticsearch:9200"
        s3:
          minio:
            endpoint: minio:9000
            accessKeyId: testRoot
            secretAccessKey: testPass
            sslEnabled: false
            s3ForcePathStyle: true

teraslice:
    assets_directory: '/app/assets'
    autoload_directory: '/app/autoload'
    workers: 4
    master: true
    master_hostname: "127.0.0.1"
    port: 5678
    name: "teracluster"
