workspaces-experimental true
--install.ignore-optional true
--install.no-progress true
--install.silent true
--install.production true
--install.prefer-offline true
--add.ignore-optional true
--add.no-progress true
--add.silent true
--add.production true
--add.prefer-offline true
