---
title: TS Transforms: `ValidationResults`
sidebar_label: ValidationResults
---

# Interface: ValidationResults

## Hierarchy

* **ValidationResults**

## Index

### Properties

* [extractions](validationresults.md#extractions)
* [output](validationresults.md#output)
* [postProcessing](validationresults.md#postprocessing)
* [selectors](validationresults.md#selectors)

## Properties

###  extractions

• **extractions**: *[ExtractionProcessingDict](extractionprocessingdict.md)*

*Defined in [interfaces.ts:143](https://github.com/terascope/teraslice/blob/d8feecc03/packages/ts-transforms/src/interfaces.ts#L143)*

___

###  output

• **output**: *[OutputValidation](outputvalidation.md)*

*Defined in [interfaces.ts:145](https://github.com/terascope/teraslice/blob/d8feecc03/packages/ts-transforms/src/interfaces.ts#L145)*

___

###  postProcessing

• **postProcessing**: *[PostProcessingDict](postprocessingdict.md)*

*Defined in [interfaces.ts:144](https://github.com/terascope/teraslice/blob/d8feecc03/packages/ts-transforms/src/interfaces.ts#L144)*

___

###  selectors

• **selectors**: *[SelectorConfig](selectorconfig.md)[]*

*Defined in [interfaces.ts:142](https://github.com/terascope/teraslice/blob/d8feecc03/packages/ts-transforms/src/interfaces.ts#L142)*
