---
title: Ts Transforms: `ValidationResults`
sidebar_label: ValidationResults
---

# Interface: ValidationResults

## Hierarchy

* **ValidationResults**

## Index

### Properties

* [extractions](validationresults.md#extractions)
* [output](validationresults.md#output)
* [postProcessing](validationresults.md#postprocessing)
* [selectors](validationresults.md#selectors)

## Properties

###  extractions

• **extractions**: *[ExtractionProcessingDict](extractionprocessingdict.md)*

*Defined in [interfaces.ts:131](https://github.com/terascope/teraslice/blob/d2d877b60/packages/ts-transforms/src/interfaces.ts#L131)*

___

###  output

• **output**: *[OutputValidation](outputvalidation.md)*

*Defined in [interfaces.ts:133](https://github.com/terascope/teraslice/blob/d2d877b60/packages/ts-transforms/src/interfaces.ts#L133)*

___

###  postProcessing

• **postProcessing**: *[PostProcessingDict](postprocessingdict.md)*

*Defined in [interfaces.ts:132](https://github.com/terascope/teraslice/blob/d2d877b60/packages/ts-transforms/src/interfaces.ts#L132)*

___

###  selectors

• **selectors**: *[SelectorConfig](selectorconfig.md)[]*

*Defined in [interfaces.ts:130](https://github.com/terascope/teraslice/blob/d2d877b60/packages/ts-transforms/src/interfaces.ts#L130)*
