---
title: Ts Transforms :: ValidationResults
sidebar_label: ValidationResults
---

# Interface: ValidationResults

## Hierarchy

* **ValidationResults**

### Index

#### Properties

* [extractions](validationresults.md#extractions)
* [output](validationresults.md#output)
* [postProcessing](validationresults.md#postprocessing)
* [selectors](validationresults.md#selectors)

## Properties

###  extractions

• **extractions**: *[ExtractionProcessingDict](extractionprocessingdict.md)*

*Defined in [interfaces.ts:122](https://github.com/terascope/teraslice/blob/e7b0edd3/packages/ts-transforms/src/interfaces.ts#L122)*

___

###  output

• **output**: *[OutputValidation](outputvalidation.md)*

*Defined in [interfaces.ts:124](https://github.com/terascope/teraslice/blob/e7b0edd3/packages/ts-transforms/src/interfaces.ts#L124)*

___

###  postProcessing

• **postProcessing**: *[PostProcessingDict](postprocessingdict.md)*

*Defined in [interfaces.ts:123](https://github.com/terascope/teraslice/blob/e7b0edd3/packages/ts-transforms/src/interfaces.ts#L123)*

___

###  selectors

• **selectors**: *[SelectorConfig](selectorconfig.md)[]*

*Defined in [interfaces.ts:121](https://github.com/terascope/teraslice/blob/e7b0edd3/packages/ts-transforms/src/interfaces.ts#L121)*
