---
title: TS Transforms: `ValidationResults`
sidebar_label: ValidationResults
---

# Interface: ValidationResults

## Hierarchy

* **ValidationResults**

## Index

### Properties

* [extractions](validationresults.md#extractions)
* [output](validationresults.md#output)
* [postProcessing](validationresults.md#postprocessing)
* [selectors](validationresults.md#selectors)

## Properties

###  extractions

• **extractions**: *[ExtractionProcessingDict](extractionprocessingdict.md)*

*Defined in [interfaces.ts:147](https://github.com/terascope/teraslice/blob/b843209f9/packages/ts-transforms/src/interfaces.ts#L147)*

___

###  output

• **output**: *[OutputValidation](outputvalidation.md)*

*Defined in [interfaces.ts:149](https://github.com/terascope/teraslice/blob/b843209f9/packages/ts-transforms/src/interfaces.ts#L149)*

___

###  postProcessing

• **postProcessing**: *[PostProcessingDict](postprocessingdict.md)*

*Defined in [interfaces.ts:148](https://github.com/terascope/teraslice/blob/b843209f9/packages/ts-transforms/src/interfaces.ts#L148)*

___

###  selectors

• **selectors**: *[SelectorConfig](selectorconfig.md)[]*

*Defined in [interfaces.ts:146](https://github.com/terascope/teraslice/blob/b843209f9/packages/ts-transforms/src/interfaces.ts#L146)*
